h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans';
    color:#ffffff;
}

.btn {
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;    
}

.btn-primary {
    background-color: #3dd2ae;
    border: 0;
}

.btn-primary:hover, .btn-primary:active:focus, .btn-primary:focus {
    background-color: #0fa27f;    
}

header {
    background-image: url('../images/header.jpg');
    height: 891px;
}

header #logo {
    margin-top: 50px;    
    display: inline-block;
}

section, footer {
    padding: 100px 0;
}

section p, footer p {
    margin-top: 35px;
}

nav {
    margin-top: 60px;
}

nav #search {
    background-color: #343c48;
    border-radius: 20px;
    width: 262px;
    padding: 10px 0;
}

nav #search input, nav #search button {
    border: 0;
    background-color: transparent;
    color: #9da5b0;    
    font-size: 14px;
    outline: 0;
}

nav #search input {
    width: 156px;
    margin-left: 30px;
    width: 180px;
}

header .lettering {    
    margin: 250px auto 0 auto;    
}

header .lettering h1 {    
    font-size: 70px;
}

header .lettering p {
    margin-top: 32px;
    font-size: 18px;
}

#features-header {    
    background-color: #835fa8;
}

#features-header img#interface-01 {
    position: absolute;
    top: 50px;
}

#features-header img#interface-02 {
    position: absolute;
    right: 0;
    top: -200px;
}

#features-detail {    
    background-color: #f4f8fb;    
    position: relative;
}

#features-detail h3 {
    color:#2b303b;
}

#features-detail p {    
    color: #2b303b;;
}

#design-header {
    background-color: #232831;
    text-align: center;
    padding-bottom: 0;
}

#design-header p {
    color: #9da5b0;
}

#design-header img {
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.50);
}

#design-features {
    background-color: #2b303b;
    position: relative;
}

#design-features h3 {
    font-size: 20px;
    margin-top: 35px;
}

#design-features h3 span {
    color:#3a4d60;
}

#design-features p {
    color: #9da5b0;
    font-size: 14px;
}

footer {    
    background-color: #835fa8;
}

footer #sitemap {
    margin-top: 35px;
}

footer #sitemap a {
    color:white;
}

footer #sitemap ul {
    margin-top: 20px;
}

footer form p {
    margin-top: 10px;
}